/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
    outline: 2px dashed orangered;
} */

/* Doodle Stage */
#stage {
  background: red;
  height: 400px;
  width: 700px;
}

#head {
    fill:white;
    z-index: 0;
}

#hat {
  position: relative;
 z-index: 1;
}